body {
    margin: 20px;
    font-family: 'Lora';
}

h1 {
    font-size: 30px;
    padding: 20px;
    text-align: center;
    text-transform: uppercase;
}

.caixa-main {
    width: 90%;
    margin: 0 auto;
    text-align: center;
}

.caixa-main li {
    display: inline-block;
    margin: 20px;
    width: 30%;
}

.caixa-main a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
}

.caixa-main a:hover {
    color: whitesmoke;
    text-shadow: 0px 1px 4px rgb(0, 0, 0);
}

.imagem-casa {
    margin-top: 10px;
    width: 200px;
    height: 120px;
    border: 0.5px solid white;
    border-radius: 4px;
}

.valor {
    font-size: 20px;
    color: black;
}
